/**
 * Toolkit styles
 */

@import '../../../../node_modules/reset-css/less/reset';
* { box-sizing: border-box; }

@import 'partials/variables';
@import 'partials/typography';

@import 'partials/button';
@import 'partials/toolbar';

body {
  background: @cS200;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAASklEQVRYhe3QsRWAMAgA0dOXLGGh+49lFomFFJkAitxvgO4ex4TO7445Mu+TYusHSpR/wAADDDDAAAMacMX+xnwy7/IPSJK0OeADj54RRqHZLUIAAAAASUVORK5CYII=');
  background-size: 1rem;
  color: @cDark100;
}

hr {
  border: none;
  border-bottom: 1px solid @cS50;
}
