/**
 * Toolkit styles
 */

@import '../../../../node_modules/reset-css/less/reset';
* { box-sizing: border-box; }

@import 'partials/colors.less';
@import 'partials/typography';

@import 'partials/button';

body {
  background: @cS200;
  color: @cDark100;
}

hr {
  border: none;
  border-bottom: 1px solid @cS50;
}
