/**
 * Toolkit styles
 */

@import '../../../../node_modules/reset-css/less/reset';
* { box-sizing: border-box; }

@import 'typography';

body {
  background: #D0D8DA;
  color: #241C15;
}

hr {
  border: none;
  border-bottom: 1px solid rgb(36,28,21,.75);
}
