<div>
  <button class="button">Button</button>
  <span class="button">Span</span>
  <div class="button">Div</div>
  <a href="#" class="button">Anchor</a>
</div>

<div>
  <span class="button">Default</span>
  <span class="button button-primary">Primary</span>
  <span class="button button-disabled">Disabled</span>
</div>

<div>
  <span class="button button-small">Small</span>
  <span class="button button-small button-primary">Small primary</span>
</div>

<div>
  <span class="button button-large">Large</span>
  <span class="button button-large button-primary">Large primary</span>
</div>

<div>
  <span class="button button-primary"><i class="fa fa-star"></i> With icon</span>
  <span class="button"><i class="fa fa-baby"></i> With icons <i class="fa fa-chevron-down"></i></span>
  <span class="button button-icon"><i class="fa fa-box-open"></i></span>
  <span class="button button-large"><i class="fa fa-trash"></i> Large with icon</span>
  <span class="button button-small button-disabled"><i class="fa fa-sort-amount-up"></i> Small with icon</span>
</div>
