<div class="toast toast-success">
  <div class="toast-icon toast-icon-big"><i class="fa fa-thumbs-up fa-fw"></i></div>
  <div class="toast-message">
    <h4>You're all clear, kid.</h4>
    Now let's blow this thing and go home!
  </div>
</div>

<div class="toast toast-warning">
  <div class="toast-icon toast-icon-big"><i class="fa fa-exclamation fa-fw"></i></div>
  <div class="toast-message">
    <h4>Traveling through hyperspace isn't like dusting crops, boy!</h4>
    Without precise calculations we could fly right through a star or bounce too close to a supernova and that'd end your trip real quick, wouldn't it?
  </div>
</div>

<div class="toast toast-danger">
  <div class="toast-icon toast-icon-big"><i class="fa fa-skull-crossbones fa-fw"></i></div>
  <div class="toast-message">
    <h4>Negative!</h4>
    It didn't go in. It just impacted on the surface.
  </div>
</div>

<div class="toast toast-info">
  <div class="toast-icon toast-icon-big"><i class="fa fa-info-circle fa-fw"></i></div>
  <div class="toast-message">
    <h4>Rebel base, in range.</h4>
    You may fire when ready.
  </div>
  <div class="toast-action"><button class="button button-small button-flat"><i class="fa fa-rocket"></i> Fire</button></div>
</div>
