<div class="toast toast-success">
  <div class="toast-message">
    Now let's blow this thing and go home!
  </div>
</div>

<div class="toast toast-danger">
  <div class="toast-icon"><i class="fa fa-skull-crossbones fa-fw"></i></div>
  <div class="toast-message">
    It didn't go in. It just impacted on the surface.
  </div>
</div>

<div class="toast toast-info">
  <div class="toast-icon"><i class="fa fa-info-circle fa-fw"></i></div>
  <div class="toast-message">
    You may fire when ready.
  </div>
  <div class="toast-action"><button class="button button-small">Dismiss</button></div>
</div>
