---
  notes: |
    **Only** use `flat` when there is no ambiguity whether or not it's a button.
---

<span class="button">Default</span> <span class="button button-disabled">Default</span><br />
<span class="button button-primary">Primary</span> <span class="button button-primary button-disabled">Primary</span><br />
<span class="button button-destructive">Destructive</span> <span class="button button-destructive button-disabled">Destructive</span><br />
<span class="button button-flat">Flat</span> <span class="button button-flat button-disabled">Flat</span><br />
