<label for="textInput">Text input</label>
<input type="text" id="textInput" placeholder="Placeholder" />

<label for="textInputIcons">Text input with icons</label>
<div class="input-icons">
  <i class="fa fa-search input-icon input-icon-right"></i>
  <i class="fa fa-poo-storm input-icon input-icon-left"></i>
  <input type="text" id="textInputIcons" placeholder="Placeholder" />
</div>

<label for="textInputButton">Text input with button</label>
<div class="input-group">
  <input type="text" id="textInputButton" placeholder="Placeholder" />
  <span class="button"><i class="fa fa-paper-plane"></i> Send</span>
</div>
<div class="input-hint">Here's a helpful tip regarding this input.</div>

<label for="textInputButton" class="text-error">Validation error</label>
<input type="text" id="textInputButton" placeholder="Email" class="input-validation-error" value="darth-vaders email@deathstar.gov"/>
<div class="input-hint text-error">Please enter a valid email address.</div>

<label for="textInputButton">Text input with two buttons</label>
<div class="input-group">
  <span class="button"><span>Select</span> <i class="fa fa-chevron-down"></i></span>
  <input type="text" id="textInputButton" placeholder="Placeholder" />
  <span class="button button-primary button-icon"><i class="fa fa-save fa-fw"></i></span>
</div>
