<h1>The grid</h1>

<h2>Requirements</h2>
<h3>Optimal at</h3>
<dl>
  <dt>1366x768 px</dt>
  <dd><a href="http://gs.statcounter.com/screen-resolution-stats/desktop/sweden">~19.5% of Swedens desktop screens</a> (~56% is above this resolution)</dd>
</dl>
<h3>Great at</h3>
<dl>
  <dt>768 px</dt>
  <dd>Portrait iPad (<a href="http://gs.statcounter.com/screen-resolution-stats/tablet/sweden">~82% of Swedens tablets</a>)</dd>
  <dt>1024 px</dt>
  <dd>Landscape iPad (<a href="http://gs.statcounter.com/screen-resolution-stats/tablet/sweden">~82% of Swedens tablets</a>)</dd>
</dl>
<h3>Good at</h3>
<dl>
  <dt>1920x1080 px</dt>
  <dd><a href="http://gs.statcounter.com/screen-resolution-stats/desktop/sweden">~20% of Swedens desktop screens</a></dd>
  <dt>1440x900 px</dt>
  <dd><a href="http://gs.statcounter.com/screen-resolution-stats/desktop/sweden">~16.5% of Swedens desktop screens</a></dd>
  <dt>360x640 px</dt>
  <dd><a href="http://gs.statcounter.com/screen-resolution-stats/mobile/sweden">360x640 & 375x667 is ~51% of Swedens mobile screens</a></dd>
