<dl>
	<dt>Boba Fett</dt>
	<dd>While fighting Luke Skywalker and Han Solo, he fell into the Great Pit of Carkoon.</dd>
	<dt>Captain Needa</dt>
	<dd>Darth Vader strangles him with the Force as punishment for letting the Rebels get away (again!).</dd>
	<dt>Darth Maul</dt>
	<dd>Split in half with a lightsaber by Obi Wan Kenobi.</dd>
	<dt>Darth Vader/Anakin Skywalker</dt>
	<dd>He took all the Emperor's Force lighting to save his son, Luke.</dd>
	<dt>Han Solo</dt>
	<dd>Kylo Ren, his son, stabs him with a lightsaber.</dd>
	<dt>Jabba the Hutt</dt>
	<dd>Leia chokes him with the chains he bound her in.</dd>
	<dt>Luke Skywalker</dt>
	<dd>He becomes one with the Force after using his remaining energy to save the Resistance.</dd>
	<dt>The porg Chewie cooked</dt>
	<dd>Chewie cooked it.</dd>
	<dt>Yoda</dt>
	<dd>Really, really old age.</dd>
</dl>
