<ol>
	<li>Did you hear that?</li>
	<li>They've shut down the main reactor.</li>
	<li>We'll be destroyed for sure. This is madness!</li>
	<li>We're doomed!</li>
	<li>There'll be no escape for the Princess this time.</li>
	<li>What's that?</li>
	<li>I should have known better than to trust the logic of a half-sized thermocapsulary dehousing assister...</li>
	<li>Artoo! Artoo-Detoo, where are you?</li>
	<li>At last! Where have you been?</li>
	<li>They're heading in this direction. What are we going to do? We'll be sent to the spice mine of Kessel or smashed into who knows what!</li>
	<li>Wait a minute, where are you going?</li>
</ol>
