---
title: Overview | Fabricator
fabricator: true
---

<h1>Overview</h1>

<p>This UI toolkit is a design system for the ProReNata project Byxelkrok. It contains different particles that can be assembled to components that in turn can be assembled into more complex page layouts.</p>

<p>This guide contains real working examples, code snippets, documentation, and style guidelines.</p>

<h2>Requirements</h2>
<h4>Optimal at</h4>
<dl>
  <dt>1366x768 px</dt>
  <dd><a href="http://gs.statcounter.com/screen-resolution-stats/desktop/sweden">~19.5% of Swedens desktop screens</a> (~56% is above this resolution)</dd>
</dl>
<h4>Great at</h4>
<dl>
  <dt>768 px</dt>
  <dd>Portrait iPad (<a href="http://gs.statcounter.com/screen-resolution-stats/tablet/sweden">~82% of Swedens tablets</a>)</dd>
  <dt>1024 px</dt>
  <dd>Landscape iPad (<a href="http://gs.statcounter.com/screen-resolution-stats/tablet/sweden">~82% of Swedens tablets</a>)</dd>
</dl>
<h4>Good at</h4>
<dl>
  <dt>1920x1080 px</dt>
  <dd><a href="http://gs.statcounter.com/screen-resolution-stats/desktop/sweden">~20% of Swedens desktop screens</a></dd>
  <dt>1440x900 px</dt>
  <dd><a href="http://gs.statcounter.com/screen-resolution-stats/desktop/sweden">~16.5% of Swedens desktop screens</a></dd>
  <dt>360x640 px</dt>
  <dd><a href="http://gs.statcounter.com/screen-resolution-stats/mobile/sweden">360x640 & 375x667 is ~51% of Swedens mobile screens</a></dd>
