@borderWidth: 1px;

input, textarea, select {
  display: block;

  border: @borderWidth solid @cBorder;
  border-radius: @inputRadius;

  margin-bottom: .5rem;
  line-height: 2rem;
  font-family: @fontfamily;
  font-size: 1rem;
  padding: calc(0.25rem - @borderWidth) .5rem;

  width: 100%;
  outline-color: @cFabric;

  &.input-validation-error {
    border-color: @cSol;
    color: @cSol;
    background-color: @cDanger;
  }
}

input[type=checkbox], input[type=radio] {
  display: inline-block;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  width: auto;
}

textarea {
  line-height: 1.5rem;
  padding: calc(0.5rem - @borderWidth) .5rem;
}

select {
  height: 2.5rem;
}

label:not(.label-inline), .input-hint {
  .small;
  font-weight: @wStrong;
  color: @cDark75;
  display: block;
  padding: 0.25rem .25rem;
  &.text-error {
    color: @cSol;
  }
}
.input-hint {
  font-weight: @wNormal;
  padding-top: 0;
  margin: -0.25rem 0 .5rem;
}

.input-group {
  position: relative;
  display: flex;
  > * {
    border-radius: 0;
  }
  > :first-child {
    border-radius: @inputRadius 0 0 @inputRadius;
  }
  > :last-child {
    border-radius: 0 @inputRadius @inputRadius 0;
  }
}


.input-icons {
  position: relative;
  > .input-icon {
    position: absolute;
    top: .75rem;
    color: @cDark75;
    &-left {
      left: .75rem;
      ~ input {
        padding-left: 2.25rem;
      }
    }
    &-right {
      right: .75rem;
      ~ input {
        padding-right: 2.25rem;
      }
    }
  }
}
