@radius: .25rem;
@borderWidth: 1px;

input, textarea, select {
  box-sizing: border-box;
  display: block;

  border: @borderWidth solid @cS400;
  border-radius: @radius;

  margin-bottom: .5rem;
  line-height: 2rem;
  font-family: @fontfamily;
  font-size: 1rem;
  padding: calc(0.25rem - @borderWidth) .5rem;

  width: 100%;
  outline-color: @cColza;
}

textarea {
  line-height: 1.5rem;
  padding: calc(0.5rem - @borderWidth) .5rem;
}

select {
  height: 2.5rem;
}

label {
  .small;
  font-weight: 500;
  color: @cDark75;
  display: block;
  padding: 0.25rem .25rem;
}

.input-group {
  position: relative;
  display: flex;
  > * {
    border-radius: 0;
  }
  > :first-child {
    border-radius: @radius 0 0 @radius;
  }
  > :last-child {
    border-radius: 0 @radius @radius 0;
  }
}


.input-icons {
  position: relative;
  > .input-icon {
    position: absolute;
    top: .75rem;
    color: @cDark75;
    &-left {
      left: .75rem;
      ~ input {
        padding-left: 2.25rem;
      }
    }
    &-right {
      right: .75rem;
      ~ input {
        padding-right: 2.25rem;
      }
    }
  }
}
