ul {
  padding-left: 2rem;
  max-width: 33rem;
  margin-bottom: 1rem;
  > li {
    list-style: circle;
    margin-bottom: 0.5rem;
  }
}

ol {
  padding-left: 2rem;
  max-width: 33rem;
  margin-bottom: 1rem;
  > li {
    list-style: decimal;
    margin-bottom: 0.5rem;
  }
}

dl {
  max-width: 33rem;
  margin-bottom: 1rem;
  > dt {
    font-weight: @wStrong;
    margin-top: 0.5rem;
  }
  > dd {
    padding-left: 2rem;
    margin-bottom: 0.5rem;
  }
}

ul.list-unstyled {
  padding: 0;
  max-width: auto;
  > li {
    list-style: none;
  }
}
