.f-color-chips {
	display: flex;
	flex-wrap: wrap;
}

.f-color-chip {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 100%;
	border-top-width: 8em;
	border-top-style: solid;
	border-bottom-width: 0;
	border-bottom-style: solid;
	background-color: #fff;
	font-weight: 700;
	//font-size: 0.75em;
	padding: 1rem;
	margin-bottom: 1rem;
  box-sizing: border-box;
	margin-right: .5rem;
	border-radius: .5rem;
	box-shadow: 0px 2px 14px rgba(0,0,0,0.12);

	@media (min-width: 60em) {
		flex-basis: 13em;
	}

	.f-color-chip__color {
		background-color: #fff;
		content: attr(data-color);
		font-weight: 400;
	}
}
